* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/background-img.jpg), linear-gradient(109.6deg, rgb(45, 5, 5) 32.4%, rgb(59, 7, 16) 98.8%);
    background-size: cover;
}

#main-header {
    font-size: 20px;
    color: #00FF80;
    text-align: center;

}

#instruction {
    background-color: #131847;
    width: 300px;
    height: 417px;
    margin-top: 100px;
    margin-left: 30px;
}

#instruction h2 {
    color: #00FF80;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

#instruction p {
    color: #00FF80;
    font-size: 18px;
    text-align: center;
    padding: 20px;

}

#drop-zone {
    background-color: white;
    height: 197px;
    width: 197px;
    display: flex;
    margin: auto;
}

#audio-controls {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

#music-control {
    cursor: pointer;
    display: inline-block;
    display: flex; 
    position: relative;
    justify-content: space-between;
    width: 20%; 
    background-color: #00FF80;
    padding-top: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    
}

#rewind {
    font-size: 2em;
}

#play {
    font-size: 2em;
}

#pause {
    font-size: 2em;
}

#volumeControl {
    display: flex;
    margin: 20px auto;
}