@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #fff;
	background-image: url(../images/land.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	
}

header {
	position: fixed;
	top: 0;
	left: 50px;
	right: 0;
	width: 800px;
	margin: 20px auto 0;
	text-align: center;
	z-index: 1;
  }
  

header h1 {
	font-size: 3em;
  	letter-spacing: 3px;
	margin: 10px 0;
	color: #131847;
	margin-left: 300px;
}

a {
	text-decoration: none;
	color: #131847;
}

.button-container {
	position: fixed;
	bottom: 35px;
	right: 320px;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 0;
	z-index: 9;

  }
  
  .button {
	background-color: #b55405;
	border: none;	
	border-radius: 30px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	
  }
  

  .button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

#htp-sec {
    float: left;
    overflow: hidden;
    text-align: center;
}


#instruction {
    background-image: url(../images/scroll.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    margin-top: 150px;
    margin-left: 30px;
}

#instruction h2 {
    color: #131847;
    font-size: 20px;
    text-align: center;
    padding-top: 70px;
}

#instruction p {
    color: #131847;
    font-size: 12px;
	width: 80%;
	padding-left: 30px;
}


.bell {
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    width: 40%;
    animation: shake 20s infinite;
    transform-origin: 50% 50%;
	
}

@keyframes shake {
    0%, 100% { transform: rotate(0deg) translate(0, 0); }
    10%, 30%, 50%, 70%, 90% { transform: rotate(-2deg) translate(-1px, 0); }
    20%, 40%, 60%, 80% { transform: rotate(2deg) translate(2px, 0); }
}

/* Set the initial position of the leaves */
#leaf-01 {
    position: absolute;
    top: -50px;
    left: 1300px;
    width: 200px;
  }
  
  #leaf-02 {
    position: absolute;
    top: -50px;
    left: 1100px;
    width: 350px;
  }
  
  #leaf-03 {
    position: absolute;
    top: -50px;
    left: 500px;
    width: 300px;
  }
  
  #leaf-04 {
    position: absolute;
    top: -50px;
    left: 1200px;
    width: 280px;
  }
  
  #leaf-05 {
    position: absolute;
    top: -50px;
    left: 1300px;
    width: 250px;
  }
  
  /* Define the falling animation */
  @keyframes fall {
    0% {
      transform: translateY(-100px) rotate(0deg);
    }
    100% {
      transform: translateY(1000px) rotate(360deg);
    }
  }
  
  /* Apply the animation to the leaves */
  #leaf-01 {
    animation: fall 10s linear infinite;
    animation-delay: 0s;
  }
  
  #leaf-02 {
    animation: fall 12s linear infinite;
    animation-delay: 2s;
  }
  
  #leaf-03 {
    animation: fall 8s linear infinite;
    animation-delay: 4s;
  }
  
  #leaf-04 {
    animation: fall 11s linear infinite;
    animation-delay: 6s;
  }
  
  #leaf-05 {
    animation: fall 9s linear infinite;
    animation-delay: 8s;
  }


.Audio-circles {
	width: 300px;
	height: 600px;
	color: inherit;
	position: absolute;
	right: 0;
	z-index: 1;
	margin-top: 100px;

}

.puzzle-image {
	width: 20%;
	display: block;
	padding: 30px;
	cursor: pointer;
	margin-left: 70px;
	
}

.monk {
	margin: 0 auto;
	width: 900px;
	height: 750px;
	display: block;
	color: inherit;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-58%, -50%);
	z-index: 8;
  }

  .brown-monk {
	background-image: url(../images/Brown.png);
  }
  

.drop-zone {
	width: 100%;
	height: 100%;
	/* border: thin dashed white; */
	background-image: url('../images/monk.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
	z-index: 8;
}
#music-control {
    cursor: pointer;
    display: flex; 
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    width: 20%; 
	background-color: #b55405;
    padding-top: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;    
    
}

#music-control ion-icon {
    font-size: 2em;
}

#volumeThumb {
	position: fixed;
	bottom: 70px;
	left: 75%;
	transform: translateX(-50%);
	z-index: 5;
	
}
